<div class="container">
  <%= form_with(model: @rent, local: true) do |form| %>

      <div class="city">
        <%= form.label :city %> <br>
        <%= form.text_field :city %>
      </div>

      <div class="description">
        <%= form.label :town %> <br>
        <%= form.text_field :town %>
      </div>

      <div class="price">
        <%= form.label :price %> <br>
        <%= form.text_field :price %>
      </div>

      <div class="kind_of">
        <%= form.label :kind_of %> <br>
        <%= form.text_field :kind_of %>
      </div>

      <div class="actions"> <br>
        <%= form.submit "Buscar",class: "btn btn-danger"%>
      </div>
  <% end %>
</div>
