<div class="container">
  <%= form_with(model: @rent, local: true) do |form| %>
  <div class="row">
    <div class="col">
      <h5> Descripcion  de la propiedad</h5>
      <br>
      <div class="title">
        <%= form.label :title %> <br>
        <%= form.text_field :title %>
      </div>

      <div class="photos">
        <%= form.label :image %> <br>
        <%= form.file_field :image %>
      </div>

      <div class="description">
        <%= form.label :description %> <br>
        <%= form.text_area :description %>
      </div>
      <div class="kind_of">
        <%= form.label :kind_of %> <br>
        <%= form.text_field :kind_of %>
      </div>

      <div class="rooms">
        <%= form.label :rooms %> <br>
        <%= form.text_field :rooms %>
      </div>

      <div class="period">
        <%= form.label :period %> <br>
        <%= form.text_field :period %>
      </div>

      <div class="bath">
        <%= form.label :bath %> <br>
        <%= form.text_field :bath %>
      </div>

      <div class="price">
        <%= form.label :price %> <br>
        <%= form.text_field :price %>
      </div>
    </div>
    <div class="col">
      <h5>Preferencias</h5>
      <div class="gender">
        <%= form.label :gender %> <br>
        <%= form.text_field :gender %>
      </div>

      <div class="smoker">
        <%= form.label :smoker %> <br>
        <%= form.text_field :smoker %>
      </div>

      <div class="prefereces">
        <%= form.label :pets %>
        <%= form.check_box :pets %>
        <%= form.label :lgtb %>
        <%= form.check_box :lgtb %>
      </div>

      <div class="parties">
        <%= form.label :parties %> <br>
        <%= form.text_field :parties %>
      </div>
      <br><br>
      <h5> Ubicacion</h5>
      <div class="address">
        <%= form.label :address %> <br>
        <%= form.text_field :address %>
      </div>

      <div class="town">
        <%= form.label :town %> <br>
        <%= form.text_field :town %>
      </div>

      <div class="city">
        <%= form.label :city %> <br>
        <%= form.text_field :city %>
      </div>

      <div class="actions"> <br>
        <%= form.submit "Publicar",class: "btn btn-danger"%>
      </div>
    </div>

  </div>
  <% end %>
</div>
