<div class="FormRent">
  <h2>Nuevo arriendo</h2>
  <%= form_with(model: @rent, local: true) do |form| %>
    <div class="field">

      <div class="address">
        <%= form.label :address %> <br>
        <%= form.text_field :address %>
      </div>

      <div class="town">
        <%= form.label :town %> <br>
        <%= form.text_field :town %>
      </div>

      <div class="city">
        <%= form.label :city %> <br>
        <%= form.text_field :city %>
      </div>

      <div class="postal_code">
        <%= form.label :postal_code %> <br>
        <%= form.text_field :postal_code %>
      </div>

      <div class="photos">
        <%= form.label :photos %> <br>
        <%= form.text_field :photos %>
      </div>

      <div class="title">
        <%= form.label :title %> <br>
        <%= form.text_field :title %>
      </div>

      <div class="type">
        <%= form.label :type %> <br>
        <%= form.text_field :type %>
      </div>

      <div class="rooms">
        <%= form.label :rooms %> <br>
        <%= form.text_field :rooms %>
      </div>

      <div class="description">
        <%= form.label :description %> <br>
        <%= form.text_area :description %>
      </div>

      <div class="actions"> <br>
        <%= form.submit "Publicar",class: "btn btn-danger"%>
      </div>

    </div>
  <% end %>
</div>
