    <div class="container-show">
      <div class="row">
        <div class="col-7">
          <tr>
           <% @rent.images.each do |image| %>
             <%=  image_tag image %>
           <% end %>
          </tr>
        </div>
        <div class="col">
          <tr>
            <h1><%= @rent.title %></h1>
            <small class="text-muted"> Publicado:<%=time_ago_in_words @rent.updated_at%></small>
            <hr>
            <h5>Descripcion del inmueble :</h5>
            <p><%= @rent.description %></p>
            <hr>
            <p><strong>Tipo de propiedad:</strong> <%= @rent.kind_of %></p>
            <p><strong>Cantidad de habitaciones:</strong> <%= @rent.rooms %></p>
            <p><strong>Baño:</strong> <%= @rent.bath %></p>
            <p><strong>Valor:</strong> <%= number_to_currency(@rent.price, precision: 0) %></p>
            <p><strong>Estadia minima:</strong> <%= @rent.period %>.</p>
            <p><strong>Comuna:</strong> <%= @rent.town %></p>
           </tr>
           <%= button_to "Postular", likes_path, method: :patch, class: 'btn btn-warning btn-block' %>

        </div>

      </div>
    </div>
